drizzt.dtd

<!ELEMENT albums (album+)>
<!ELEMENT album (titre, img, resume, fiche)>
<!ATTLIST album numero CDATA #REQUIRED>
<!ELEMENT titre (#PCDATA)>
<!ELEMENT img EMPTY>
<!ATTLIST img src CDATA #REQUIRED alt CDATA #IMPLIED>
<!ELEMENT resume (#PCDATA)>
<!ELEMENT fiche (a)>
<!ELEMENT a (#PCDATA)>
<!ATTLIST a href CDATA #REQUIRED>